<template>
	<div>
		<nav class="hide-on-med-and-down">
			<router-link to="/">
				<div class="navigation__logo">
					BridgeSystem
				</div>
			</router-link>
			<div class="navigation__user" v-if="user">
				{{ user.username }}
			</div>
		</nav>
		<router-view />

	</div>
</template>

<script>
	import { useStore } from 'vuex';
	import { computed } from 'vue';
	import M from 'materialize-css'

	import User from "./classes/User";
	let user = new User({
		id: 0,
		username: "testuser",
		cezar: 12345
	})
	import store from './store'
	store.dispatch('User/setUser', user);

	export default {
		name: 'App',
		mounted() {
			M.AutoInit()
		},

		setup() {
			const store = useStore();
			const user = computed(() => store.state.User.user);
			return {
				user
			}
		}
	}
</script>

<style lang="scss">
	#app {
		color: #2c3e50;
		min-height: 100vh;
		background-color: #F3F5FA;

		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 5%;
			background-color: deeppink;
			color: white;

			.navigation__logo {
				font-weight: bold;
				font-size: 24px;
			}

			.navigation__user {
				font-weight: bold;
			}
		}
	}
</style>