<template>
	<div>
		<Bidding/>
		<MobileFooter/>
	</div>
</template>

<script>
	import Bidding from "../components/Bidding";
	import MobileFooter from "../components/MobileFooter";

	export default {
		name: 'BiddingView',
		components: { Bidding, MobileFooter }
	}
</script>

<style lang="scss" scoped>
</style>