<template>
	<div>
		Oh hello
		<MobileFooter/>
	</div>
</template>

<script>
	import MobileFooter from "../components/MobileFooter";

	export default {
		name: 'Home',
		components: { MobileFooter }
	}
</script>

<style lang="scss" scoped>
</style>