<template>
	<div class="container" id="main">
		<div class="row">
			<div class="col s12">
				<img alt="Bridge System – Login" src="images/logo.png" class="responsive-img">
			</div>
		</div>
		<div class="row">
			<form class="col s12" @submit.prevent="login()">
				<div class="row">
					<div class="input-field col s12">
						<input id="username" type="text" v-model="state.username">
						<label for="username">Username</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s11">
						<input id="password" type="password" v-model="state.password">
						<label for="password">Password</label>
					</div>
					<i class="material-icons postfix" @click="togglePasswordVisibility()">{{state.visibilityIcon}}</i>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<button id="submit" type="submit" class="btn light-green lighten-1">Log in</button>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<router-link to="/register">
							<div class="btn-flat waves-effect waves-green">Create a new account</div>
						</router-link>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<a class="btn-flat waves-effect waves-green">Forgot your password?</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
import { reactive } from 'vue';
	export default {
		name: "Login",

		setup() {
			const state = reactive({
				username: '',
				password: '',
				visibilityIcon: "visibility"
			})
			const togglePasswordVisibility = () => {
				if(state.visibilityIcon==="visibility") {
					state.visibilityIcon = "visibility_off";
					document.getElementById("password").type = "text";
				}
				else {
					state.visibilityIcon = "visibility";
					document.getElementById("password").type = "password";
				}
			}
			const login = () => {
				console.log(state.username, state.password);
			}
			return {
				state,
				login,
				togglePasswordVisibility
			}
		}
	};
</script>

<style lang="scss" scoped>
	.postfix {
		float: right;
		cursor: pointer;
		margin-top: 25px;
	}
	.row {
		margin: 0;
	}
	.btn,
	.btn-flat {
		width: 100%;
		text-align: center;
	}
</style>