<template>
	<div class="container" id="main">
		<div class="row">
			<div class="col s12">
				<img alt="Bridge System – Login" src="images/logo.png" class="responsive-img">
			</div>
		</div>
		<div class="row">
			<h5>Register a new account</h5>
			<form class="col s12" @submit.prevent="registerUser()">
				<div class="row">
					<div class="input-field col s12">
						<input id="username" type="text" v-model="state.newUser.username">
						<label for="username">Username</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate" v-model="state.newUser.email">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="cezar" type="number" class="validate" v-model="state.newUser.cezar">
						<label for="cezar">Cezar id</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s11">
						<input id="password" type="password" v-model="state.newUser.password">
						<label for="password">Password</label>
					</div>
					<i class="material-icons postfix" @click="togglePasswordVisibility()">{{state.visibilityIcon}}</i>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<button id="submit" type="submit" class="btn light-green lighten-1">Register</button>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<router-link to="/login">
							<div class="btn-flat waves-effect waves-green">Already have an account? Log in here!</div>
						</router-link>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
import { reactive } from 'vue';
import M from 'materialize-css'

	export default {
		name: "Login",

		setup() {
			const state = reactive({
				newUser: {
					username: '',
					password: '',
					email: '',
					cezar: '',
				},
				visibilityIcon: "visibility"
			})
			const togglePasswordVisibility = async() => {
				if(state.visibilityIcon==="visibility") {
					state.visibilityIcon = "visibility_off";
					document.getElementById("password").type = "text";
				}
				else {
					state.visibilityIcon = "visibility";
					document.getElementById("password").type = "password";
				}
			}
			const registerUser = async() => {
				console.log(state.newUser);
				try {
					let res = await fetch("/api/user/register", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify(state.newUser)
					})
					let user = await (await res).json();
				}
				catch(err) {
					M.toast({html: 'Error'});
					console.log(err);
				}
			}
			return {
				state,
				registerUser,
				togglePasswordVisibility
			}
		}
	};
</script>

<style lang="scss" scoped>
	.postfix {
		float: right;
		cursor: pointer;
		margin-top: 25px;
	}
	.row {
		margin: 0;
	}
	.btn,
	.btn-flat {
		width: 100%;
		text-align: center;
	}
</style>