<template>
	<div class="bidding-template">
			<Bidding/>
		<div class="explainations">
		
		</div>
		<MobileFooter/>
	</div>
</template>

<script>
	import Bidding from "../components/Bidding";
	import MobileFooter from "../components/MobileFooter";

	export default {
		name: 'SystemView',
		components: { Bidding, MobileFooter }
	}
</script>

<style lang="scss" scoped>
</style>