<template>
	<div class="user-profile">
		<div v-if="user">
			{{ user.username }}
		</div>
		<MobileFooter/>
	</div>
</template>

<script>
	import { useStore } from 'vuex';
	import { computed } from 'vue';
	// import { useRoute } from 'vue-router';
	import MobileFooter from "../components/MobileFooter";


	export default {
		name: 'UserProfile',
		components: { MobileFooter },
		setup() {
			const store = useStore();
			const user = computed(() => store.state.User.user);

			return {
				user
			}
		}
	}
</script>

<style lang="scss" scoped>
</style>