<template>
	<div class="auction-panel" :class="{closed: !state.auctionPanelOpen}">
		<div class="auction">
			<div class="bid head">W</div>
			<div class="bid head">N</div>
			<div class="bid head">E</div>
			<div class="bid head">S</div>
			<div v-for="(bid, index) in bids" :key="index" class="bid" @click="openBiddingBox(index)" :class="{boxOpenAt: state.boxOpenAt === index}">
				<span>{{getBidHeightForDisplay(bid)}}</span><span :class="calcBidClassForDisplay(bid)">{{getBidColorForDisplay(bid)}}</span>
			</div>
			<div class="bid" @click="openBiddingBox(bids.length)" :class="{boxOpenAt: state.boxOpenAt === bids.length}">?</div>
		</div>
		<div class="controls">
			<label @click="toggleAutoPass()">
				<input type="checkbox" class="filled-in" />
				<span>Auto pass</span>
			</label>
		</div>
		<div class="buttons">
			<a class="btn-floating light-blue">
				<i class="material-icons">save</i>
			</a>
			<a class="btn-floating light-green darken-2" @click="toggleAuctionPanel">
				<i v-if="state.auctionPanelOpen" class="material-icons">expand_less</i>
				<i v-if="!state.auctionPanelOpen" class="material-icons">expand_more</i>
			</a>
			<a class="btn-floating red lighten-1" @click="clearAuction">
				<i class="material-icons">clear</i>
			</a>
		</div>
		<div class="biddingBox" v-if="state.boxOpenAt > -1" v-click-outside-bidding="closeBiddngBox">
			<div class="bid double" @click="addBid(1)" :class="{disabled: !state.isDoubleAvailable || state.isAuctionOver}">x</div>
			<div class="bid pass" @click="addBid(0)" :class="{disabled: state.isAuctionOver}">pass</div>
			<div class="bid redouble" @click="addBid(2)" :class="{disabled: !state.isRedoubleAvailable || state.isAuctionOver}">xx</div>
			<div class="bid" v-for="i in 35" :key="i" @click="addBid(i+2)" :class="{disabled: (i+2)<state.minBid || state.isAuctionOver}"><span>{{getBidHeightForDisplay(i+2)}}</span><span :class="calcBidClassForDisplay(i+2)">{{getBidColorForDisplay(i+2)}}</span></div>
		</div>
	</div>
</template>

<script>
	import { reactive } from 'vue';
	import { useStore } from 'vuex';


	export default {
		name: 'Bidding',
		setup() {
			const store = useStore();
			const bids = reactive([3,0,4,1,0,5,0,6,7,0,8,0,9]);
			const state = reactive({
				autoPass: false,
				boxOpenAt: 1,
				isDoubleAvailable: false,
				isRedoubleAvailable: false,
				minBid: 0,
				isAuctionOver: false,
				auctionPanelOpen: true
			})
			const addBid = (bid) => {
				bid = +bid;
				if(bid === 1 && !state.isDoubleAvailable) return;
				else if(bid === 2 && !state.isRedoubleAvailable) return;
				else if(bid>2 && bid<state.minBid) return;
				bids.splice(state.boxOpenAt, 1, bid);
				fetchBids();
				openBiddingBox(state.boxOpenAt+1);
			}
			const calcBidClassForDisplay = (bid) => {
				bid = +bid;
				let classes = ["club", "diamond", "heart", "spade", "nt"];
				if(bid < 4) return "";
				else return classes[(bid-3)%5];
			}
			const clearAuction = () => {
				bids.splice(0,bids.length);
			}
			const closeBiddngBox = () => {
				state.boxOpenAt = -1;
			}
			const fetchBids = async() => {
				try {
					let res = await fetch('/api/', {
						// headers: setHeaders()
					})
					console.log(res);
					console.log(await res.text());
				}
				catch(err) {

				}
			}
			const getBidHeightForDisplay = (bid) => {
				bid = +bid;
				if(bid < 3) return "";
				else return Math.floor((bid-3)/5+1);
			}
			const getBidColorForDisplay = (bid) => {
				bid = +bid;
				let colors = ["♣️", "♦️", "♥️", "♠", "NT"];
				if(bid === 0) return "pass";
				if(bid === 1) return "x";
				if(bid === 2) return "xx";
				else return colors[(bid-3)%5];
			}
			const openBiddingBox = (index) => {
				state.isDoubleAvailable = false;
				state.isRedoubleAvailable = false;
				state.isAuctionOver = false;
				state.minBid = 0;
				state.boxOpenAt = index;

				for(let i = 0; i<index; i++) {
					state.minBid = Math.max(state.minBid, bids[i]+1);
				}
				if(index === 1) {
					if(+bids[0] !== 0) state.isDoubleAvailable = true;
				}
				else if(index === 2) {
					if(+bids[1] !== 0) state.isDoubleAvailable = true;
					if(+bids[1] === 1) state.isRedoubleAvailable = true;
				}
				else if(index > 2) {
					if(+bids[index-1] > 2) state.isDoubleAvailable = true;
					if(+bids[index-3] > 2 && +bids[index-2] === 0 && +bids[index-1] === 0) state.isDoubleAvailable = true;
					if(+bids[index-1] === 1) state.isRedoubleAvailable = true;
					if(+bids[index-3] === 1 && +bids[index-2] === 0 && +bids[index-1] === 0) state.isRedoubleAvailable = true;
					if(index > 3 && +bids[index-3] === 0 && +bids[index-2] === 0 && +bids[index-1] === 0) state.isAuctionOver = true;
				}
			}
			const toggleAuctionPanel = () => {
				closeBiddngBox();
				state.auctionPanelOpen = !state.auctionPanelOpen;
			}
			const toggleAutoPass = () => state.autoPass = !state.autoPass;

			return {
				/* props */
				bids,
				state,
				/* methods */
				addBid,
				calcBidClassForDisplay,
				clearAuction,
				closeBiddngBox,
				getBidHeightForDisplay,
				getBidColorForDisplay,
				openBiddingBox,
				toggleAuctionPanel,
				toggleAutoPass
			}
		}
	}
</script>

<style lang="scss" scoped>
	.auction-panel {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		background-color: #8bc34a;
		padding: 10px;
		transition: all 400ms ease-out;

		&.closed {
			transform: translateY(calc(-100% + 50px));
			transition: all 400ms ease-out;
		}

		.auction {
			width: 63%;
			display: flex;
			flex-wrap: wrap;

			.bid {
				width: 25%;
				text-align: center;
				padding: 8px 0;
				line-height: 1;

				&:nth-child(odd) {
					background-color: #FFF;
				}
				&:nth-child(even) {
					background-color: #EEE;
				}
				&.boxOpenAt {
					background-color: #c5e1a5;
				}
				&.head {
					font-weight: bold;
					margin-bottom: 1px;
					// border-bottom: solid 1px black;
					&:nth-child(1) {
						border-radius: 4px 0 0 0;
					}
					&:nth-child(4) {
						border-radius: 0 4px 0 0;
					}
				}
				.club {
					color: green;
				}
				.diamond {
					color: orange;
				}
				.heart {
					color: red;
				}
				.spade {
					color: blue;
				}
				.nt {
					font-family: monospace;
				}
			}
		}

		.controls {
			width: 30%;

			label {
				color: #333;
				input.filled-in + span::after {
					border-radius: 4px;
				}
				input.filled-in:checked + span::before {
					border-bottom-color: #333;
					border-right-color: #333;
				}
				input.filled-in:checked + span::after {
					background-color: #8bc34a;
					border-color: #333;
				}
			}
		}

		.buttons {
			width: 100%;
			margin-bottom: -30px;
			display: flex;
			justify-content: center;

			a {
				margin: 0 2px;
			}
		}

		.biddingBox {
			display: grid;
			position: absolute;
			bottom: 50px;
			width: 100%;
			text-align: center;
			padding: 0 0 1px 0;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(8, 1fr);
			grid-column-gap: 1px;
			grid-row-gap: 1px; display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(8, 1fr);
			grid-column-gap: 1px;
			grid-row-gap: 1px; 

			// background-color: black;

			.bid {
				padding: 6px 0;
				// background-color: #FDFDEA;
				background-color: #F0F0F0;
				cursor: pointer;
				// border-radius: 4px;
				&:hover {
					filter: brightness(0.8);
				}
				&.disabled {
					filter: brightness(0.8);
					cursor: not-allowed;
				}
				&.pass {
					grid-area: 1 / 2 / 2 / 5;
					background-color: #4caf50;
				}
				&.double {
					grid-area: 1 / 1 / 2 / 2;
					background-color: #ef5350;
					border-radius: 10px 0 0 0;
				}
				&.redouble {
					grid-area: 1 / 5 / 2 / 6;
					background-color: #3f51b5;
					border-radius: 0 10px 0 0;
				}
			}
		}
	}
</style>