<template>
	<footer class="hide-on-large-only">
		<router-link to="/system">
			<div class="">
				<i class="small material-icons">book</i>
			</div>
		</router-link>
		<router-link to="/bidding">
			<div class="">
				<i class="small material-icons">add</i>
			</div>
		</router-link>
		<router-link to="/">
			<div class="">
				<i class="small material-icons">home</i>
			</div>
		</router-link>
		<router-link to="/groups">
			<div class="">
				<i class="small material-icons">group</i>
			</div>
		</router-link>
		<router-link to="/profile">
			<div class="">
				<i class="small material-icons">account_circle</i>
			</div>
		</router-link>
	</footer>
</template>

<style lang="scss" scoped>
			footer {
			position: fixed;
			bottom: 0;
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			border-top: solid 1px #8bc34a;
			padding: 10px 0 5px 0;

			i {
				color: #8bc34a;
			}

			.router-link-active {
				i {
					color: #4CAF50;
				}

				// &::after {
				// 	font-size: 10px;
				// 	content: 'test';
				// }
			}

		}
</style>